.body-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-field {
    width: 500px;
}

.packages-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

.all-screen-layer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0 ,0, .3);
}
